<div class="card  h-100 scroll shadow-lg">
    <div class="card-body">

      <h4 class="card-title center-text">Filter</h4>
      <h6 class=""> Brands</h6>
      <div *ngFor="let item of brands">
        <input (change)="filter($event,item.brand)" class="form-check-input ms-2" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
        <label class="ms-2">{{item.brand}} ({{item.count}})</label>
      </div>
    </div>

    <div class="card-footer">
      <small class="text-muted">Developed by: Aleksic Nikola</small>
    </div>
  </div>
