<div (scroll)="onScroll($event)" class="card scroll h-100 shadow-lg">
    <div class="card-body">

      <div class="row" *ngIf="products.length>0" >
        <div class="col-2 m-3"*ngFor="let product of products" [routerLink]="['/products', product.id]"
        routerLinkActive="router-link-active">
          <div class="card border-dark shadow-sm" style="width: 18rem;height: 34rem;">
            <img [src]="product.imgUrl" style="width: 286px;height: 381px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.brand}}</h5>
              <p class="card-text">
                {{ (product.model.length>60)? (product.model | slice:0:60)+'...':(product.model) }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><b>{{product.type}}</b></small>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="products.length==0">
          <h3 class="text-center mt-5">
            There are no products that match given criteria!
          </h3>
      </div>
      
    </div>
  </div>