<div class="cointainer main-page" >
    <div class="row m-0 align-items-center">
      <div class="col-6">
        <a href="" [routerLink]="['/products/clothes']" routerLinkActive="router-link-active" >
          <img src="https://images.pexels.com/photos/1030823/pexels-photo-1030823.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"/>
        </a>
      </div>
      <div class="col-6">
        <a href="" [routerLink]="['/products/shoes']" routerLinkActive="router-link-active" >
          <img src="https://images.pexels.com/photos/1032110/pexels-photo-1032110.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"/>
        </a>
        
      </div>
    
    </div>
  </div>
